.exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3rem;
}

.exercise-grid-child {
    border: 1px rgba(240, 83, 64, 0.8) solid;
    background-color: rgba(240, 83, 64, 0.3);
    min-height: 20rem;
    max-height: 20rem;
    overflow: hidden;
    text-overflow: wrap;
    overflow-wrap: break-word;
}

.log-row {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(240, 83, 64, 0.2)
}

.log-row:hover {
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 83, 64, 0.2);
}

.log-row-item {
    align-items: center;
    min-width: 33%;
}

.header-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.admin-content {
    display: flex;
    flex-direction: row;
}

.admin-content-area {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.admin-content-left-nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #111827;
    margin-top: 5px #111827 solid;
    overflow: auto;
}

.admin-content-left-nav-item {
    display: flex;
    width: 100%;
    height: 5vh;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.admin-card {
    width: 75vw;
}

