.exercise-grid {
    display: grid;
    min-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3rem;
}

.exercise-grid-child {
    justify-content: center;
    border: 1px rgba(240, 83, 64, 0.8) solid;
    background-color: rgba(240, 83, 64, 0.3);
    height: 20rem;
    overflow: hidden;
    text-overflow: wrap;
    overflow-wrap: break-word;
}

.exercise-grid-child-link {
    width: 100%;
}

.exercise-image {
    height: 80%;
    margin: auto;
}

.log-row {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(240, 83, 64, 0.2);
    padding: 0.5rem;
    min-width: 100%;
    color: white;
}

.log-row-users {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(240, 83, 64, 0.2);
    padding: 0.5rem;
    width: 70vw;
    color: white;
}


.log-row:hover {
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 83, 64, 0.2);
}

.log-row-users:hover {
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 83, 64, 0.2);
}

.log-row-item {
    align-items: center;
    min-width: 33%;
}

.header-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.admin-content {
    display: flex;
    flex-direction: row;
}

.admin-content-area {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.admin-content-left-nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #111827;
    margin-top: 5px #111827 solid;
    overflow: auto;
}

.admin-content-left-nav-item {
    display: flex;
    width: 100%;
    height: 5vh;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.admin-card {
    display: flex;
    width: 75vw;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    background-color: #1F2937;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.admin-card-left {
    display: flex;
    width: 60vw;
    align-items: center;
}

.admin-card-right {
    display: flex;
    width: 15vw;
    align-items: center;
}

.header {
    margin-top: 1rem;
}

@keyframes status-alert-animation {
    0% { top: -5%; visibility: hidden; }
    1% {top: -5%; visibility:visible; }
    50% { top: 5vh; }
    100% { top: 5vh;}
}

.status-alert {
    display: flex;
    position: absolute;
    max-height: fit-content;
    height: 2vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
    padding: 2rem;
    border-radius: 15px;
    animation-name: status-alert-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.failed {
    background-color: red;
}

.succeeded {
    background-color: greenyellow;
}